.auth {
	min-height: calc(100vh - 57px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.auth .content {
	width: 400px;
	text-align: center;
}
@media (max-width: 768px) {
	.auth .content {
		width: 90%;
	}
}
.auth .heading {
	margin-bottom: 15px;
}
.auth .heading p {
	line-height: 1.8;
}
.auth form {
	display: flex;
	flex-direction: column;
}
.auth button {
	margin-top: 15px;
}
button.disabled {
	pointer-events: none;
	cursor: no-drop;
	background-color: var(--alt-main-color);
}
